<%= form_tag(emailings_path) do %>
  <div class="field">
    <%= label_tag :user_name %><br />
    <%= text_field_tag :user_name %>
  </div>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
